<!DOCTYPE html>
<html lang="ja">
  <%- partial('part_header', { title: title }) %>

  <body>

    <h1><%= title %></h1>
    <p></p>
    <a class="btn btn-default" href="/problem_resource/tutorial.txt">Download</a></td>
    
  </body>
</html>
