<!DOCTYPE html>
<html lang="ja">
  <%- partial('part_header', { title: title }) %>

  <body>

    <p>Aliceはあなたが作成した公開鍵でメッセージを暗号化し、あなたに暗号文を送信した。あなたは自分の持つ秘密鍵でメッセージを解読してみよう。</p>
    <a class="btn btn-default" href="/problem_resource/crypto1/crypto1.zip">ダウンロード</a></td>
    
  </body>
</html>
