<!DOCTYPE html>
<html lang="ja">
  <%- partial('part_header', { title: title }) %>

  <body>

    <h1><%= title %></h1>
    <p>アリスはボブにメッセージを送信した。メッセージはボブが作成したキーペアの公開鍵で暗号化されている。メッセージを解読してみよう。</p>
    <a class="btn btn-default" href="/problem_resource/crypto1/crypto1.zip">ダウンロード</a></td>

  </body>
</html>
