<!DOCTYPE html>
<html lang="ja">
  <%- partial('part_header', { title: "webapp1" }) %>

  <body>

    <div class="container center-block">
      <div class="col-sm-12 center-block">
        <h1 class="text-center">CONGRATURATIONS!!</h1>
        <h1 class="text-center">YOU ARE THE ADMINISTRATOR.</h1>
        <h4 class="text-center">Flag is: STUPID_VALIDATION</h4>
      </div>
    </div>

  </body>
</html>
