<!DOCTYPE html>
<html lang="ja">
  <%- partial('part_header', { title: "ログ検索" }) %>

  <body>

    <div class="container center-block">
      <div id="search">
        <div style="height:100px"></div>
        <p>あなたはユーザー名: alice でログイン中です。</p>
        <p>操作履歴を検索</p>
        <form id="logsearch" class="form-inline" action="#">
          <div class="form-group">
            <input type="text" class="form-control" id="input" placeholder="検索">
          </div>
          <button type="submit" class="btn btn-primary">検索</button>
        </form>
        <div id="logresult"></div>
      </div>
    </div>

  </body>
  
  <script type="text/javascript">
  $('#logsearch').submit(function(event) {
    event.preventDefault();
    $.ajax({
      url: '/dedicated/webapp4',
      type: 'post',
      dataType: 'json',
      contentType: 'application/json',
      data: JSON.stringify({ "query" : $('#input').val() }),
      success: function(data) {
        $('#logresult').empty();
        $('#logresult').html('<table id="t_result" class="table table-striped"></table>');
        for (var i = 0; i <  data.result.length; i++) {
          $('#t_result').append('<tr><td>' + data.result[i] + '</td></tr>')
        }
      }
    });
  });
  </script>
</html>
