<!DOCTYPE html>
<html lang="ja">
  <%- partial('part_header', { title: 'CTF Dashboard' }) %>

  <body>

    <%- partial('part_navbar', { nickname: nickname, isLogin: true } ) %>

    
    <div class="container">
      <div class="col-md-12 col-sm-12">
      <h1 class="text-center">Problems</h1>
      </div>
      <div class="col-md-12 col-sm-12" style="margin-bottom: 50px">
      
        <table class="table table-hover">
          <thead>
            <tr>
              <td>#</td><td>タイトル</td><td></td><td></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Tutorial</td>
              <td><a class="btn btn-default" href="/problem/1">Go</a></td>
              <td id="answer_1">
                <div class="input-group col-md-4">
                  <% if (scores.length != 0 && scores["problem_1"].score >= 0) { %>
                    <span class="glyphicon glyphicon-ok" style="color:#3c763d" aria-hidden="true"></span>
                  <% } else { %>
                  <input type="text" class="form-control" placeholder="Input flag" aria-describedby="input_Flag" id="problem_1">
                  <span class="input-group-btn"><button class="btn btn-default" type="button" id="btn_problem_1">Answer</button></span>
                  <% } %>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        
      </div>
      <pre><%= profile %></pre>
    </div>
    
    <%- partial('part_footer') %>
    <script src="/js/answer.js"></script>
    
  </body>
</html>
