<!DOCTYPE html>
<html lang="ja">
  <%- partial('part_header', { title: 'CTF Login' }) %>
  <body>

    <%- partial('part_navbar') %>

    <div class="jumbotron">
      <div class="container">
        <div class="columns">

          <div class="col-xs-8">
            <h1 class="display-heading-1 jumbotron-title">Lorem ipsum</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>

          <div class="col-xs-4">
            <form style="max-width:340px">
              <div class="form-group">
                <label for="inputUsername">ユーザー名</label>
                <input type="username" class="form-control" id="inputUsername" placeholder="Username" style="width: 300px">
              </div>
              <div class="form-group">
                <label for="inputPassword">パスワード</label>
                <input type="password" class="form-control" id="inputPassword" placeholder="Password" style="width: 300px">
                <a>パスワードを忘れた場合は</a>
              </div>
              <div class="btn-group">
                <button class="btn btn-default" type="submit">ログイン</button>
              </div>
            </form>
            <p></p>
            <div class="btn-group">
              <a class="btn btn-xs" style="background-color:#333333;color:#fff" href="/auth/github">
                <i class="fa fa-github" aria-hidden="true"></i>
                GitHub
              </a>
              <a class="btn btn-xs" style="background-color:#1da1f3;color:#fff">
                <i class="fa fa-twitter-square" aria-hidden="true"></i>
                Twitter
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <%- partial('part_footer') %>
  </body>
</html>
