<!DOCTYPE html>
<html lang="ja">
  <%- partial('part_header', { title: 'CTF Login' }) %>
  <body>
<div class="row">

    <%- partial('part_navbar_nologin') %>

    <div class="jumbotron">
      <div class="container">
        <div class="columns">

          <div class="col-md-8 col-xs-12">
            <h1 class="display-heading-1 jumbotron-title">CTF</h1>
            <p style="font-size:90%">CTF(Capture the Flag)とは情報セキュリティ競技の一種で、問題の中からフラグと呼ばれるキーワードを探して送信(回答)するとスコアが得られ、制限時間内に最もスコアを得た個人またはチームが勝利となる競技です。</p>
            <p style="font-size:90%">本サイトは時間が限られる一般的な競技CTFとは異なり、じっくり調べ、考えることで自身の知識を広げることを目的としています。また問題内容も情報セキュリティに限らず、IT全般の様々なジャンルを、簡単な問題から難しい問題まで用意していますのでチャレンジしてみてください。</p>
            <p style="font-size:90%">基本的なルール
            <ul>
              <li style="font-size:90%">アプリケーション・ツール・検索サイト・Webサービス等は無制限使用可。<br>普段使いこなしているツールやサービス等をフル活用してください。</li>
              <li style="font-size:90%"><strong>回答送信のブルートフォースアタックはおやめください。</strong></li>
            </ul>
            </p>
          </div>

          <div class="col-md-4 col-xs-12"><!--
            <form action="/auth/local" method="post" role="form" style="max-width:340px">
              <div class="form-group">
                <label for="inputUsername">ユーザー名</label>
                <input type="username" class="form-control" id="inputUsername" name="username" placeholder="Username" style="width: 300px">
              </div>
              <div class="form-group">
                <label for="inputPassword">パスワード</label>
                <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password" style="width: 300px">
                <a>パスワードを忘れた場合は</a>
              </div>
              <% var flashMessage = (Object.keys(message).length > 0) ? '<div class="alert alert-danger">' + message.error + '</div>' : '' %>
              <%- flashMessage %>
              <div class="btn-group">
                <button class="btn btn-primary" type="submit">ログイン</button>
              </div>
              <div class="btn-group">
                <a class="btn btn-default" type="button" href="/subscribe">新規作成</button>
              </div>
            </form> -->

            <h5 class="text-center">各種サービスアカウントでログイン<br>（自動的にユーザー登録されます）</h5>
            <!-- google -->
            <a class="btn btn-lg btn-block" style="background-color:#dd4b39;color:#fff" href="/auth/google">
              <i class="fa fa-google" aria-hidden="true"></i>
              Google
            </a>

            <!-- github -->
            <a class="btn btn-lg btn-block" style="background-color:#333333;color:#fff" href="/auth/github">
              <i class="fa fa-github" aria-hidden="true"></i>
              GitHub
            </a>

            <!-- twitter -->
            <a class="btn btn-lg btn-block" style="background-color:#4099ff;color:#fff" href="/auth/twitter">
              <i class="fa fa-twitter" aria-hidden="true"></i>
              twitter
            </a>

          </div>

        </div>
      </div>
    </div>

    <%- partial('part_footer') %>
</div>
  </body>
</html>
