<nav class="navbar navbar-default navbar-inverse navbar-static-top" style="margin-bottom: 0">
  <div class="container-fluid">

    <div class="navbar-header">
<!--
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
-->
      <a href="/" class="navbar-brand">CTF</a>
    </div>
<!--    
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
      </ul>
    </div>
-->    
  </div><!-- container -->
</nav><!-- navbar -->