<!DOCTYPE html>
<html lang="ja">
  <%- partial('part_header', { title: "pgconsole" }) %>

  <body>

    <div class="container center-block">
      <div class="col-sm-12 center-block">
        <form method="post" action="/pgconsole">
          Input
          <textarea id="inputarea" name="inputarea"  class="form-control" rows="10"></textarea>
          <button type="submit" class="btn btn-default">‘—M</button>
        </form>
          Output
          <textarea id="outputarea" name="outputarea" class="form-control" rows="10"><%= output %></textarea>
      </div>
    </div>

  </body>
</html>
