<!DOCTYPE html>
<html lang="ja">
  <%- partial('part_header', { title: problem.subject }) %>

  <body>

    <div class="container center-block">
    <h1><%= problem.subject %></h1>
    <%- problem.description %>
    </div>

  </body>
</html>
