<!DOCTYPE html>
<html lang="ja">
  <%- partial('part_header', { title: title }) %>

  <body>

    <%- partial('part_navbar_nologin') %>


    <div class="container">
      <div class="col-md-12 col-xs-12">
        <h1>CTFとは？</h1>
        <p style="font-size:90%">
        CTF(Capture the Flag)とは情報セキュリティをテーマとした競技の一種です。
        問題の中からフラグと呼ばれるキーワードを探し、スコアサーバーに向けて送信します。
        正解するとスコアが得られ、制限時間内に最もスコアを得た参加者または参加チームが勝利となる競技です。
        </p>
        <p style="font-size:90%">
        世界的なハッカーコンテストである<a href="https://www.defcon.org/">DEF CON</a>、
        また、そこから派生した、日本では<a href="http://seccon.jp/">SECCON</a>という大会が特に有名で、毎年開催されています。
        問題ジャンルは暗号解読、Webアプリ脆弱性の探索、実行ファイルをリバースエンジニアリングすることによる脆弱性の探索、
        ネットワークフォレンジクス等、多岐に渡り、非常に高度な内容となっています。
        </p>
        <p style="font-size:90%">
        本サイトは一般的なコンテストとは異なり、制限時間はありません。
        問題の難度も、上記の一般的なコンテストと比べても非常に難度の低い問題のみとしています。
        検索サイトを使ってじっくり調べ、試行錯誤する過程で、自身の知識や能力を高めることを目的としていますので是非チャレンジしてみてください。
        座学等で基本的な知識として知っていても、いざ問題を解いてみるとどうすればいいか分からず意外と難しく感じるのではないでしょうか。
        </p>
        <p style="font-size:90%"><strong>基本的なルール</strong>
        <ul>
          <li style="font-size:90%">アプリケーション・ツール・検索サイト・Webサービス等は無制限使用可。<br>普段使いこなしているツールやサービス等をフル活用してください。</li>
          <li style="font-size:90%">ただし、回答送信のブルートフォースアタックはおやめください。</li>
        </ul>
      </div>
    </div>

    <%- partial('part_footer') %>

  </body>
</html>
