<!DOCTYPE html>
<html lang="ja">
  <%- partial('part_header', { title: title }) %>

  <body>

    <%- partial('part_navbar_nologin') %>


    <div class="container">
      <div class="col-md-12 col-xs-12">
        <h1>CTFとは？</h1>
        <p style="font-size:90%">
        <strong>CTF(Capture the Flag)</strong>とは情報セキュリティをテーマとした競技の一種です。
        世界的なハッカーコンテストである<a href="https://www.defcon.org/">DEF CON</a>が最も権威あるコンテストとなっていますが、
        日本でも実践的情報セキュリティ人材の発掘・育成を目標に<a href="http://seccon.jp/">SECCON</a>という大会が毎年開催されています。
        問題ジャンルは暗号解読、Webアプリケーションの脆弱性探索、バイナリファイルのリバースエンジニアリング、
        ネットワークフォレンジクスなど多岐に渡り、非常に高度な内容となっています。
        <p style="font-size:90%">
        競技の基本的なルールは、問題の中からフラグと呼ばれるキーワードを探し出し、スコアサーバーへ送信します。
        正解するとスコアが得られ、制限時間内に最もスコアを得た参加チームが勝利となります。
        </p>
        <p style="font-size:90%">
        本サイトは問題を検索サイトを使ってじっくり調べ、試行錯誤する過程で、実践的な知識や能力を高めることを目的としていますので、
        一般的なCTF形式のコンテストとは異なり、制限時間はありません。
        問題の難易度も、上記のコンテストと比較すると非常に平易な問題のみとしていますが、
        座学等で基本的な知識として知ってはいても、いざ実際に問題を解いてみると意外と難しく感じるのではないでしょうか。
        </p>
        <p style="font-size:90%"><strong>本サイトの基本的なルール</strong>
          <ul>
            <li style="font-size:90%">アプリケーション・ツール・検索サイト・Webサービス等は無制限使用可。<br>普段使いこなしているツールやサービス等をフル活用してください。</li>
            <li style="font-size:90%">ただし、回答送信のブルートフォースアタックはおやめください。</li>
          </ul>
        </p>
        <p style="font-size:90%"><strong>ヒント</strong>
          <ul>
            <li style="font-size:90%">正解のヒントは標題と問題文。</li>
            <li style="font-size:90%">知らない単語があればまずはググる。</li>
          </ul>
        </p>
      </div>
    </div>

    <%- partial('part_footer') %>

  </body>
</html>
